<h1>TinyApp</h1>

<form action="/login" method="GET">
<input type="submit" value="Sign In">
</form>

<form action="/register" method="GET">
<input type="submit" value="Register">
</form>

<form action="/logout" method="POST">
<input type="submit" value="Logout">
</form>

