<h1>TinyApp</h1>
<%= username %>
<form action="/login" method="POST" style="margin:150px;">
<label for="usernameInsert">Username:</label>
<input id="usernameInsert" type="text" name="usernameInsert">
<input type="submit" value="Sign In">
</form>