<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <% include partials/_header %>
  <ul>
<% if (user_ID) { %>
    <% for (var key in urls) { %>
      <li><%= key + " : " + urls[key].longURL %></li>
      <li><a href="/urls/<%= key %>">Edit</a></li>
      <form method="POST" action="/urls/<%= key %>/delete">
        <input type="submit" value="Delete">
      </form>
    <% }; %>
  </ul>
  <li><a href="/urls/new">Shorten Link!</a></li>
<% } else { %>
  <p> Please log in.</p>
<% } %>
</body>
</html>
